body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #114d1e;
    color: white;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
}

#home {
    background-image: linear-gradient(to bottom, #f7f7f7, #eaeaea);
    text-align: center;
    padding: 5em;
}

.tecnologia, .produto {
    background-color: #f0f0f0;
    margin-bottom: 20px;
    padding: 1em;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
 
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

.imagem-arredondada {
    width: 200px;
    display: block;
    height: 200px;
    border-radius: 50%;
    margin: 10px auto;
    object-fit: cover;
    margin: 30px;
    align-content: center;
    background-color: #4CAF50;
}


.titulo {

color: #a8e7aa;
    background-color: #62b165;
    padding: 20px;
    border-radius: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitulo {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}